<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/criar-personagem.css">
    <title>Document</title>
</head>
<body>
    <div class="ficha">
        <form action="/character" method="post">
            <div class="nome">
                <label>Nome: </label>
                <input type="text" name="characterName">
            </div>
            <div class="dados-iniciais">
                <div>
                    <label for="homePlanet">Planeta de Origem:</label>
                    <input type="text" id="pdo" name="homePlanet">
                </div>
                <div>
                    <label for="background">Background:</label>
                    <input type="text" id="background" name="background">
                </div>
                <div>
                    <label for="role">Função:</label>
                    <input type="text" id="função" name="role">
                </div>
                <div>
                    <label for="eliteAdvance">Avanço de Elite:</label>
                    <input type="text" id="ade" name="eliteAdvance">
                </div>
                <div>
                    <label for="destiny">Destino:</label>
                    <input type="text" id="destino" name="destiny">
                </div>
            </div>

            <div class="divisor-ficha">
                <div class="coluna">
                    <div class="aliados-inimigos">
                        <div class="lista">
                            <h2>Alidados</h2>
                            <div id="area-aliados">
                                <div class="container-aliados">
                                    <input type="text" id="al1" name="allies[]">
                                </div>
                            </div>
                            <div class="botoes">
                                <button id="mais-alidados">+</button>
                                <button id="menos-aliados"> - </button>
                            </div>
                        </div>
                        <div class="lista">
                            <h2>Inimigos</h2>
                            <div id="area-inimigos">
                                <div class="container-inimigos">
                                    <input type="text" id="ini1" name="enemies[]">
                                </div>
                            </div>
                            <div class="botoes">
                                <button id="mais-inimigos">+</button>
                                <button id="menos-inimigos"> - </button>
                            </div>
                        </div>
                    </div>
        
                    <h2 class="carac-titulo">Características</h2>
                    <div class="caracteristica">
                        <table>
                            <tr>
                                <td>
                                    Habilidade em Combate (HeC)
                                </td>
                                <td>
                                    <input type="number" id="hec" name="stats[weaponSkill][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="hecb" name="stats[weaponSkill][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="heca" name="stats[weaponSkill][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Habilidade Balística (HB)
                                </td>
                                <td>
                                    <input type="number" id="hb" name="stats[balisticSkill][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="hbb" name="stats[balisticSkill][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="hba" name="stats[balisticSkill][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Força (F)
                                </td>
                                <td>
                                    <input type="number" id="f" name="stats[strength][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="fb" name="stats[strength][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="fa" name="stats[strength][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Resistência (R)
                                </td>
                                <td>
                                    <input type="number" id="r" name="stats[toughness][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="rb" name="stats[toughness][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="ra" name="stats[toughness][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Agilidade (Ag)
                                </td>
                                <td>
                                    <input type="number" id="ag" name="stats[agility][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="agb" name="stats[agility][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="aga" name="stats[agility][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    Inteligência (Int)
                                </td>
                                <td>
                                    <input type="number" id="int" name="stats[intelligence][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="intb" name="stats[intelligence][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="inta" name="stats[intelligence][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Percepção (Per)
                                </td>
                                <td>
                                    <input type="number" id="per" name="stats[perception][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="perb" name="stats[perception][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="pera" name="stats[perception][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Vontade (Von)
                                </td>
                                <td>
                                    <input type="number" id="von" name="stats[willpower][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="vonb" name="stats[willpower][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="vona" name="stats[willpower][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Socialização (Soc)
                                </td>
                                <td>
                                    <input type="number" id="soc" name="stats[fellowship][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="socb" name="stats[fellowship][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="soca" name="stats[fellowship][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Influência (Ifl)
                                </td>
                                <td>
                                    <input type="number" id="ifl" name="stats[influence][value]" class="caracteristica-input caracteristica-valor" min="1" max="100" step="1" value="1">
                                </td>
                                <td>
                                    <input type="number" id="iflb" name="stats[influence][bonus]" class="caracteristica-input" min="0" max="9" step="1" value="0">
                                </td>
                                <td>
                                    <input type="number" id="ifla" name="stats[influence][improvements]" class="caracteristica-input" min="0" max="5" step="1" value="0">
                                </td>
                            </tr>
                        </table>
                    </div>
        
                    <div class="xp-pd">
                        <div class="xp-pd-1">
                            <h2>Experiência (EXP)</h2>
        
                            <label for="exp[expToSpend]">EXP para gastar</label>
                            <input type="number" id="exppg" name="exp[expToSpend]" value="0" min="0" step="1">
            
                            <label for="exp[expSpent]">Total de EXP gasto</label>
                            <input type="number" id="tdeg" name="exp[expSpent]" value="0" min="0" step="1">
                        </div>
                        <div class="xp-pd-1">
                            <h2>Pontos de Destino</h2>
        
                            <label for="fatePoints[limit]">Limite</label>
                            <input type="number" id="limite" name="fatePoints[limit]" min="0" step="1">
            
                            <label for="fatePoints[current]">Atual</label>
                            <input type="number" id="atual" name="fatePoints[current]"min="0" step="1">
                        </div>
                    </div>
        
                    <div class="insa-corrup">
                        <div class="insa-corrup-1">
                            <label for="insanity[insanityPoints]">Insanidade (Ins)</label>
                            <input type="number" id="ins" name="insanity[insanityPoints]" value="0" min="0" max="100" step="1">
                            <input type="number" id="insm" name="insanity[insanityBonus]" value="0" min="-30" max="10" step="10">
                            <textarea id="desordem" name="insanityText" rows="5"> Desordem Mental:</textarea>
                        </div>
                        <div class="insa-corrup-1">
                            <label for="corruption[corruptionPoints]">Corrupção (Cor)</label>
                            <input type="number" id="cor" name="corruption[corruptionPoints]" value="0" min="0" max="100" step="1">
                            <input type="number" id="corm" name="corruption[corruptionBonus]" value="0" min="-30" max="0" step="10">
                            <textarea id="malignancia" name="corruption[malignances]" rows="5">Malignancia:</textarea>
                            <textarea id="mutacao" name="corruption[mutations]" rows="5">Mutações:</textarea>
        
                        </div>
                    </div>
        
                    <div class="aptidao">
                        <h2>Aptidões</h2>
                        <div class="aptidao-lista">
                            <div>
                                <input type="checkbox" id="apt1" name="aptitude[general]" value="Geral">
                                <label for="aptitude[general]">Geral</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt2" name="aptitude[weaponSkill]" value="Habilidade_de_Combate">
                                <label for="aptitude[weaponSkill]">Habilidade em Combate</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt3" name="aptitude[balisticSkill]" value="Habilidade_Balística">
                                <label for="aptitude[balisticSkill]">Habilidade Balística</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt4" name="aptitude[strength]" value="Força">
                                <label for="aptitude[strength]">Força</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt5" name="aptitude[toughness]" value="Resistencia">
                                <label for="aptitude[toughness]">Resistência</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt6" name="aptitude[agility]" value="Agilidade">
                                <label for="aptitude[agility]">Agilidade</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt7" name="aptitude[intelligence]" value="Inteligencia">
                                <label for="aptitude[intelligence]">Inteligência</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt8" name="aptitude[perception]" value="Percepcao">
                                <label for="aptitude[perception]">Percepção</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt9" name="aptitude[willpower]" value="Vontade">
                                <label for="aptitude[willpower]">Vontade</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt10" name="aptitude[fellowship]" value="Socializacao">
                                <label for="aptitude[fellowship]">Socialização</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt11" name="aptitude[ofensive]" value="Ofensivo">
                                <label for="aptitude[ofensive]">Ofensivo</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt12" name="aptitude[finesse]" value="Sutileza">
                                <label for="aptitude[finesse]">Sutileza</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt13" name="aptitude[defensive]" value="Defensivo">
                                <label for="aptitude[defensive]">Defensivo</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt14" name="aptitude[psychic]" value="Psiquico">
                                <label for="aptitude[psychic]">Psíquico</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt15" name="aptitude[tech]" value="Tecnologia">
                                <label for="aptitude[tech]">Tecnologia</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt16" name="aptitude[knowledge]" value="Conhecimento">
                                <label for="aptitude[knowledge]">Conhecimento</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt17" name="aptitude[leadership]" value="Lideranca">
                                <label for="aptitude[leadership]">Liderança</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt18" name="aptitude[survival]" value="Sobrevivencia">
                                <label for="aptitude[survival]">Sobrevivência</label>
                            </div>
                            <div>
                                <input type="checkbox" id="apt19" name="aptitude[social]" value="Social">
                                <label for="aptitude[social]">Social</label>
                            </div>
                        </div>
                    </div>
        
                    <div class="pericia">
                        <h2>Perícia</h2>
        
                        <div class="container-tabelas">
                            <table>
                                <tr>
                                    <th></th>
                                    <th>Conhecida</th>
                                    <th>+10</th>
                                    <th>+20</th>
                                    <th>+30</th>
                                </tr>
                                <tr>
                                    <td>Acrobacia (Agi)</td>
                                    <td>
                                        <input type="checkbox" id="b1" name="b1" value="true" data-group="grupo1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b2" name="b2" value="true" data-group="grupo1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b3" name="b3" value="true" data-group="grupo1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b4" name="b4" value="true" data-group="grupo1">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Atletismo (F)</td>
                                    <td>
                                        <input type="checkbox" id="b5" name="b5" value="true" data-group="grupo2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b6" name="b6" value="true" data-group="grupo2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b7" name="b7" value="true" data-group="grupo2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b8" name="b8" value="true" data-group="grupo2">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Atenção (Per)</td>
                                    <td>
                                        <input type="checkbox" id="b9" name="b9" value="true" data-group="grupo3">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b10" name="b10" value="true" data-group="grupo3">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b11" name="b11" value="true" data-group="grupo3">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b12" name="b12" value="true" data-group="grupo3">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Charme (Soc)</td>
                                    <td>
                                        <input type="checkbox" id="b13" name="b13" value="true" data-group="grupo4">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b14" name="b14" value="true" data-group="grupo4">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b15" name="b15" value="true" data-group="grupo4">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b16" name="b16" value="true" data-group="grupo4">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Comando (Soc)</td>
                                    <td>
                                        <input type="checkbox" id="b17" name="b17" value="true" data-group="grupo5">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b18" name="b18" value="true" data-group="grupo5">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b19" name="b19" value="true" data-group="grupo5">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b20" name="b20" value="true" data-group="grupo5">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Comercio (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b21" name="b21" value="true" data-group="grupo6">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b22" name="b22" value="true" data-group="grupo6">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b23" name="b23" value="true" data-group="grupo6">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b24" name="b24" value="true" data-group="grupo6">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Con. Comum (Int)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cc1" name="cc1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco1" name="cco1" value="true" data-group="grupo7">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco2" name="cco2" value="true" data-group="grupo7"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco3" name="cco3" value="true" data-group="grupo7">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco4" name="cco4" value="true" data-group="grupo7">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cc2" name="cc2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco5" name="cco5" value="true" data-group="grupo8">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco6" name="cco6" value="true" data-group="grupo8"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco7" name="cco7" value="true" data-group="grupo8">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco8" name="cco8" value="true" data-group="grupo8">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cc3" name="cc3">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco9" name="cco9" value="true" data-group="grupo9">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco10" name="cco10" value="true" data-group="grupo9"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco11" name="cco11" value="true" data-group="grupo9">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco12" name="cco12" value="true" data-group="grupo9">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cc4" name="cc4">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco13" name="cco13" value="true" data-group="grupo10">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco14" name="cco14" value="true" data-group="grupo10"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco15" name="cco15" value="true" data-group="grupo10">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cco16" name="cco16" value="true" data-group="grupo10">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Enganação (Soc)
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b25" name="b25" value="true" data-group="grupo11">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b26" name="b26" value="true" data-group="grupo11">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b27" name="b27" value="true" data-group="grupo11">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b28" name="b28" value="true" data-group="grupo11">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Esquiva (Ag)
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b29" name="b29" value="true" data-group="grupo12">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b30" name="b30" value="true" data-group="grupo12">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b31" name="b31" value="true" data-group="grupo12">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b32" name="b32" value="true" data-group="grupo12">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Con. Proibido (Int)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cp1" name="cp1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo1" name="cpo1" value="true" data-group="grupo13">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo2" name="cpo2" value="true" data-group="grupo13"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo3" name="cpo3" value="true" data-group="grupo13">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo4" name="cpo4" value="true" data-group="grupo13">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cp2" name="cp2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo5" name="cpo5" value="true" data-group="grupo14">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo6" name="cpo6" value="true" data-group="grupo14"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo7" name="cpo7" value="true" data-group="grupo14">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo8" name="cpo8" value="true" data-group="grupo14">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cp3" name="cp3">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo9" name="cpo9" value="true" data-group="grupo15">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo10" name="cpo10" value="true" data-group="grupo15"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo11" name="cpo11" value="true" data-group="grupo15">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo12" name="cpo12" value="true" data-group="grupo15">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="cp4" name="cp4">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo13" name="cpo13" value="true" data-group="grupo16">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo14" name="cpo14" value="true" data-group="grupo16"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo15" name="cpo15" value="true" data-group="grupo16">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="cpo16" name="cpo16" value="true" data-group="grupo16">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Investigação (Soc)</td>
                                    <td>
                                        <input type="checkbox" id="b33" name="b33" value="true" data-group="grupo17">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b34" name="b34" value="true" data-group="grupo17">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b35" name="b35" value="true" data-group="grupo17">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b36" name="b36" value="true" data-group="grupo17">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Interrogatório (Von)</td>
                                    <td>
                                        <input type="checkbox" id="b37" name="b37" value="true" data-group="grupo18">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b38" name="b38" value="true" data-group="grupo18">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b39" name="b39" value="true" data-group="grupo18">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b40" name="b40" value="true" data-group="grupo18">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Intimidação (F)</td>
                                    <td>
                                        <input type="checkbox" id="b41" name="b41" value="true" data-group="grupo19">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b42" name="b42" value="true" data-group="grupo19">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b43" name="b43" value="true" data-group="grupo19">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b44" name="b44" value="true" data-group="grupo19">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Linguística (Int)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="lg1" name="lg1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo1" name="lgo1" value="true" data-group="grupo20">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo2" name="lgo2" value="true" data-group="grupo20"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo3" name="lgo3" value="true" data-group="grupo20">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo4" name="lgo4" value="true" data-group="grupo20">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="lg2" name="lg2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo5" name="lgo5" value="true" data-group="grupo21">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo6" name="lgo6" value="true" data-group="grupo21"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo7" name="lgo7" value="true" data-group="grupo21">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="lgo8" name="lgo8" value="true" data-group="grupo21">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Lógica (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b45" name="b45" value="true" data-group="grupo22">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b46" name="b46" value="true" data-group="grupo22">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b47" name="b47" value="true" data-group="grupo22">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b48" name="b48" value="true" data-group="grupo22">
                                    </td>
                                </tr>
                            </table>
        
                            <table>
                                <tr>
                                    <th></th>
                                    <th>Conhecida</th>
                                    <th>+10</th>
                                    <th>+20</th>
                                    <th>+30</th>
                                </tr>
                                <tr>
                                    <td>Medicina (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b49" name="b49" value="true" data-group="grupo23">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b50" name="b50" value="true" data-group="grupo23">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b51" name="b51" value="true" data-group="grupo23">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b52" name="b52" value="true" data-group="grupo23">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Navegação Superfície (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b53" name="b53" value="true" data-group="grupo24">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b54" name="b54" value="true" data-group="grupo24">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b55" name="b55" value="true" data-group="grupo24">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b56" name="b56" value="true" data-group="grupo24">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Navegação Estelar (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b57" name="b57" value="true" data-group="grupo25">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b58" name="b58" value="true" data-group="grupo25">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b59" name="b59" value="true" data-group="grupo25">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b60" name="b60" value="true" data-group="grupo25">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Navegação Warp (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b61" name="b61" value="true" data-group="grupo26">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b62" name="b62" value="true" data-group="grupo26">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b63" name="b63" value="true" data-group="grupo26">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b64" name="b64" value="true" data-group="grupo26">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Operar Superfície (Agi)</td>
                                    <td>
                                        <input type="checkbox" id="b65" name="b65" value="true" data-group="grupo27">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b66" name="b66" value="true" data-group="grupo27">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b67" name="b67" value="true" data-group="grupo27">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b68" name="b68" value="true" data-group="grupo27">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Operar Aeronautica (Agi)</td>
                                    <td>
                                        <input type="checkbox" id="b69" name="b69" value="true" data-group="grupo28">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b70" name="b70" value="true" data-group="grupo28">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b71" name="b71" value="true" data-group="grupo28">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b72" name="b72" value="true" data-group="grupo28">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Operar Warp (Agi)</td>
                                    <td>
                                        <input type="checkbox" id="b73" name="b73" value="true" data-group="grupo29">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b74" name="b74" value="true" data-group="grupo29">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b75" name="b75" value="true" data-group="grupo29">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b76" name="b76" value="true" data-group="grupo29">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Bloqueio (HeC)</td>
                                    <td>
                                        <input type="checkbox" id="b77" name="b77" value="true" data-group="grupo30">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b78" name="b78" value="true" data-group="grupo30">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b79" name="b79" value="true" data-group="grupo30">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b80" name="b80" value="true" data-group="grupo30">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Senso Psíquico (Per)</td>
                                    <td>
                                        <input type="checkbox" id="b81" name="b81" value="true" data-group="grupo31">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b82" name="b82" value="true" data-group="grupo31">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b83" name="b83" value="true" data-group="grupo31">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b84" name="b84" value="true" data-group="grupo31">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Con. Escolástico (Int)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ce1" name="ce1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo1" name="ceo1" value="true" data-group="grupo32">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo2" name="ceo2" value="true" data-group="grupo32"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo3" name="ceo3" value="true" data-group="grupo32">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo4" name="ceo4" value="true" data-group="grupo32">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ce2" name="ce2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo5" name="ceo5" value="true" data-group="grupo33">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo6" name="ceo6" value="true" data-group="grupo33"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo7" name="ceo7" value="true" data-group="grupo33">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo8" name="ceo8" value="true" data-group="grupo33">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ce3" name="ce3">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo9" name="ceo9" value="true" data-group="grupo34">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo10" name="ceo10" value="true" data-group="grupo34"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo11" name="ceo11" value="true" data-group="grupo34">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo12" name="ceo12" value="true" data-group="grupo34">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ce4" name="ce4">
                                    </td>
                                    <td>
                                        <!-- aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -->
                                        <input type="checkbox" id="ceo13" name="ceo13" value="Conhecida" data-group="grupo35">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo14" name="ceo14" value="+10" data-group="grupo35"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo15" name="ceo15" value="+20" data-group="grupo35">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo16" name="ceo16" value="+30" data-group="grupo35">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ce5" name="ce5">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo17" name="ceo17" value="Conhecida" data-group="grupo36">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo18" name="ceo18" value="+10" data-group="grupo36"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo19" name="ceo19" value="+20" data-group="grupo36">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ceo20" name="ceo20" value="+30" data-group="grupo36">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Intuição (Per)</td>
                                    <td>
                                        <input type="checkbox" id="b85" name="b85" value="Conhecida" data-group="grupo37">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b86" name="b86" value="+10" data-group="grupo37">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b87" name="b87" value="+20" data-group="grupo37">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b88" name="b88" value="+30" data-group="grupo37">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Segurança (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b89" name="b89" value="Conhecida" data-group="grupo38">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b90" name="b90" value="+10" data-group="grupo38">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b91" name="b91" value="+20" data-group="grupo38">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b92" name="b92" value="+30" data-group="grupo38">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Prestidigitação (Agi)</td>
                                    <td>
                                        <input type="checkbox" id="b93" name="b93" value="Conhecida" data-group="grupo39">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b94" name="b94" value="+10" data-group="grupo39">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b95" name="b95" value="+20" data-group="grupo39">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b96" name="b96" value="+30" data-group="grupo39">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Furtividade (Agi)</td>
                                    <td>
                                        <input type="checkbox" id="b97" name="b97" value="Conhecida" data-group="grupo40">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b98" name="b98" value="+10" data-group="grupo40">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b99" name="b99" value="+20" data-group="grupo40">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b100" name="b100" value="+30" data-group="grupo40">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Sobrevivência (Per)</td>
                                    <td>
                                        <input type="checkbox" id="b101" name="b101" value="Conhecida" data-group="grupo41">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b102" name="b102" value="+10" data-group="grupo41">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b103" name="b103" value="+20" data-group="grupo41">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b104" name="b104" value="+30" data-group="grupo41">
                                    </td>
                                </tr>
                                <tr>    
                                    <td>Uso Tecnológico (Int)</td>
                                    <td>
                                        <input type="checkbox" id="b105" name="b105" value="Conhecida" data-group="grupo42">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b106" name="b106" value="+10" data-group="grupo42">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b107" name="b107" value="+20" data-group="grupo42">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="b108" name="b108" value="+30" data-group="grupo42">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Negócio (Int)</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ng1" name="ng1">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo1" name="ngo1" value="Conhecida" data-group="grupo43">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo2" name="ngo2" value="+10" data-group="grupo43"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo3" name="ngo3" value="+20" data-group="grupo43">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo4" name="ngo4" value="+30" data-group="grupo43">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ng2" name="ng2">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo5" name="ngo5" value="Conhecida" data-group="grupo44">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo6" name="ngo6" value="+10" data-group="grupo44"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo7" name="ngo7" value="+20" data-group="grupo44">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo8" name="ngo8" value="+30" data-group="grupo44">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="ng3" name="ng3">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo9" name="ngo9" value="Conhecida" data-group="grupo45">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo10" name="ngo10" value="+10" data-group="grupo45"> 
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo11" name="ngo11" value="+20" data-group="grupo45">
                                    </td>
                                    <td>
                                        <input type="checkbox" id="ngo12" name="ngo12" value="+30" data-group="grupo45">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="coluna">
                    <div class="talentos-tracos">
                        <h2>Talentos e Traços</h2>
                        <div class="titulo-descricao" id="container-descricao">
                            <div class="item-descricao">
                                <input type="text" id="tt1" name="tt1" placeholder="Nome do Talento ou Traço">
                                <textarea id="descricao1" name="descricao1" rows="1">Descrição: </textarea>
                            </div>
                        </div>
                        <div class="mais-menos">
                            <button id="ttmais">+</button>
                            <button id="ttmenos"> - </button>
                        </div>
                    </div>
        
                    <div class="armas">
                        <h2>Armas</h2>
                        <div id="armas-container">
                            <div class="grid-container">
                                <div class="arma-nome">
                                    <label>Nome:</label>
                                    <input type="text" id="arma_nome_1" name="arma_nome_1">
                                </div>
                                <div class="arma-classe">
                                    <label>Cls:</label>
                                    <input type="text" id="arma_classe_1" name="arma_classe_1">
                                </div>
                                <div class="arma-alc">
                                    <label>Alc:</label>
                                    <input type="text" id="arma_alc_1" name="arma_alc_1">
                                </div>
                                <div class="arma-tdt">
                                    <label>TdT:</label>
                                    <input type="text" id="arma_tdt_1" name="arma_tdt_1">
                                </div>
                                <div class="arma-dano">
                                    <label>Dano:</label>
                                    <input type="text" id="arma_dano_1" name="arma_dano_1">
                                </div>
                                <div class="arma-pen">
                                    <label>Pen:</label>
                                    <input type="text" id="arma_pen_1" name="arma_pen_1">
                                </div>
                                <div class="arma-mun">
                                    <label>Mun:</label>
                                    <input type="text" id="arma_mun_1" name="arma_mun_1">
                                </div>
                                <div class="arma-rec">
                                    <label>Rec:</label>
                                    <input type="text" id="arma_rec_1" name="arma_rec_1">
                                </div>
                                <div class="arma-peso">
                                    <label>Peso:</label>
                                    <input type="text" id="arma_peso_1" name="arma_peso_1">
                                </div>
                                <div class="arma-disp">
                                    <label>Disp:</label>
                                    <input type="text" id="arma_disp_1" name="arma_disp_1">
                                </div>
                                <div class="arma-especial">
                                    <label>Especial:</label>
                                    <input type="text" id="arma_especial_1" name="arma_especial_1">
                                </div>  
                            </div>
                        </div>
                        <div class="mais-menos">
                            <button id="arma-mais">+</button>
                            <button id="arma-menos"> - </button>
                        </div>
                    </div>
        
                    <div class="equipamento">
                        <h2>Equipamento</h2>
                        <div id="equipamento-container">
                            <div class="equipamento-lista">
                                <label>Nome:</label>
                                <input type="text" id="equip1" name="equip1">
                                <label>Peso:</label>
                                <input type="text" id="peso1" name="peso1">
                                <textarea id="descricao_peso1" name="descricao_peso1" rows="2">Descrição:</textarea>
                            </div>
                        </div>
                        <div class="mais-menos">
                            <button id="equip-mais">+</button>
                            <button id="equip-menos"> - </button>
                        </div>
                    </div>
        
                    <div class="armadura-defesa">
                        <h2>Armadura e Defesas</h2>
                        <div class="flex-ad">
                            <div class="grid-armadura">
                                <div class="cabeca">
                                    <label for="cabecaa">Cabeça:</label>
                                    <input type="number" id="cabecaa" name="cabecaa" placeholder="Armadura">
                                    <input type="number" id="cabecat" name="cabecat" class="armadura-total">
                                </div>
                                <div class="bracoe">
                                    <label for="bracoea">Braço Esquerdo:</label>
                                    <input type="number" id="bracoea" name="bracoea" placeholder="Armadura">
                                    <input type="number" id="bracoet" name="bracoet" class="armadura-total">
                                </div>
                                <div class="bracod">
                                    <label for="bracoda">Braço Direito:</label>
                                    <input type="number" id="bracoda" name="bracoda" placeholder="Armadura">
                                    <input type="number" id="bracodt" name="bracodt" class="armadura-total">
                                </div>
                                <div class="corpo">
                                    <label for="corpoa">Corpo:</label>
                                    <input type="number" id="corpoa" name="corpoa" placeholder="Armadura">
                                    <input type="number" id="corpot" name="corpot" class="armadura-total">
                                </div>
                                <div class="pernae">
                                    <label for="pernaea">Perna Esquerda:</label>
                                    <input type="number" id="pernaea" name="pernaea" placeholder="Armadura">
                                    <input type="number" id="pernaet" name="pernaet" class="armadura-total">
                                </div>
                                <div class="pernad">
                                    <label for="pernada">Perna Direita:</label>
                                    <input type="number" id="pernada" name="pernada" placeholder="Armadura">
                                    <input type="number" id="pernadt" name="pernadt" class="armadura-total">
                                </div>
                            </div>
                            <div class="vida-condicao">
                                <div class="vida">
                                    <h3>Vida</h3>
                                    <label for="vida_total">Total:</label>
                                    <input type="number" id="vida_total" name="vida_total" min="0" value="1">
                                    <label for="vida_atual">Atual:</label>
                                    <input type="number" id="vida_atual" name="vida_atual" min="0" value="1">
                                    <label for="dano_critico">Dano Crítico:</label>
                                    <input type="number" id="dano_critico" name="dano_critico" min="0" max="10" value="0">
                                </div>
                                <div class="condicoes">
                                    <h3>Condições</h3>
                                    <input type="text" id="condicao1" name="condicao1" placeholder="Nome da Condição">
                                    <textarea id="descricao_condicao1" name="descricao_condicao1" rows="1">Descrição:</textarea>
                                    <input type="text" id="condicao2" name="condicao2" placeholder="Nome da Condição">
                                    <textarea id="descricao_condicao2" name="descricao_condicao2" rows="1">Descrição:</textarea>
                                    <input type="text" id="condicao3" name="condicao3" placeholder="Nome da Condição">
                                    <textarea id="descricao_condicao3" name="descricao_condicao3" rows="1">Descrição:</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="movimento-fadiga">
                        <div class="movimento">
                            <h2>Movimento</h2>
                            <div class="grid-movimento">
                                <div class="movimento-cell">
                                    <label for="movi_metade">Metade:</label>
                                    <input type="number" id="movi_metade" name="movi_metade">
                                </div>
                                <div class="movimento-cell">
                                    <label for="movi_total">Total:</label>
                                    <input type="number" id="movi_total" name="movi_total">
                                </div>
                                <div class="movimento-cell">
                                    <label for="movi_disparada">Disparada:</label>
                                    <input type="number" id="movi_disparada" name="movi_disparada">
                                </div>
                                <div class="movimento-cell">
                                    <label for="movi_corrida">Corrida:</label>
                                    <input type="number" id="movi_corrida" name="movi_corrida">
                                </div>
                            </div>
                        </div>
        
                        <div class="fadiga">
                            <h2>Fadiga</h2>
                            <div class="grid-fadiga">
                                <div>
                                    <label for="fadiga_limite">Limite:</label>
                                    <input type="number" id="fadiga_limite" name="fadiga_limite" min="0">
                                </div>
                                <div>
                                    <label for="fadiga_atual">Atual:</label>
                                    <input type="number" id="fadiga_atual" name="fadiga_atual" min="0">
                                </div> 
                            </div>
                        </div>
                    </div>
        
                    <div id="psiquico" class="psiquico">
                        <h2>Poderes Psíquicos</h2>
                        <div class="psi-nivel">
                            <label for="pp_psi">Psi-Nível:</label>
                            <input type="number" id="pp_psi" name="pp_psi" value="0" min="0">
                        </div>
                        <div id="poder-container">
                            <div class="lista-poder">
                                <label>Poder:</label>
                                <input type="text" id="pp_poder1" name="pp_poder1" placeholder="Nome do Poder">
                                <input type="text" id="pp_descricao1" name="pp_descricao1" class="pp-descricao" placeholder="Descrição:">
                            </div>
                        </div>
                        <div class="mais-menos">
                            <button id="poder-mais">+</button>
                            <button id="poder-menos"> - </button>
                        </div>
                    </div>

                    <div class="container-mostrar-esconder-poderes">
                        <button id="mostrar-esconder-poder">Esconder Poderes</button>
                    </div>
                    
                    <div class="notas">
                        <h2>Notas</h2>
                        <textarea id="notas" name="notas" rows="1">Notas:</textarea>
                    </div>
                </div>
            </div>
            <div class="submit">
                <button>
                    SALVAR
                </button>
            </div>             
        </form>
    </div>
    <script src="/criar-personagem.js"></script>
</body>