/*#615F5C (Cinza Escuro) - nav, rodapé, painel lateral*/
/*#FCB02D (Amarelo Mostarda) - botão, links, ícones*/
/*#7D0000 (Vermelho Escuro) - títulos, cabeçalhos, bordas*/
/*#835214 (Marrom Médio) - fundo de seções grandes*/
/*#140D0B (Preto Avermelhado) - fundo principal, seção de pouco texto, fundo de cabeçalho*/
/*#FFFFFF (Branco) - letra*/

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.toogle-block {
    display: block !important;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #140D0B;
    color: #FFFFFF;
    font-family: "Lora", serif;
}

.container {
    margin: 1vh;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imgs/inquisiton-rosete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.usuario {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 50px;
    text-align: center;
    background-color: #fcb02d25;
    border-radius: 50%;
    cursor: pointer;
}

.usuario-opcoes {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #615F5C;
    border-radius: 5px;
    display:none;
}

.usuario-opcoes a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.usuario-opcoes a:hover {
    text-decoration: underline;
}

h1 {
    margin: 0;
    font-family: "Cinzel", serif;
    color: #FCB02D;
}

h1 {
    font-size: 50px;
    margin-top: 5%;
}

.link-retornar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #615F5C;
    border-radius: 35px;
    margin-top: 5px;
    margin-left: 5px;
}

.link-retornar img {
    width: 30px;
}

.meio {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.opcoes {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.opcao {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 1/1;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: "Uncial Antiqua";
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.1s ease, background-color 0.3s;
    color: white;
    text-decoration: none;
}

.opcao:active {
    transform: scale(0.95);
  }
  
  .opcao:hover {
    opacity: 0.7;
  }

.opcao-1 {
    background-image: url("../imgs/novo-personagem.png");
    /*Creditos: Hinchel Or*/
}

.opcao-2 {
    background-image: url("../imgs/lista-personagens.jpg");
    /*Créditos Frost Llamzon*/
}

.opcao p {
    text-align: center;
}

.rodape {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 100px);
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px 20px 0 0;
}

.rodape div p {
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}

.rodape div a img {
    max-width: 40px;
    margin-right: 20px;
}